h1 {
    color: rgb(66, 102, 102);
    text-align:center;
}
h2 {
    color: rgb(57, 80, 80);
    text-align:center;
}
h3 {
    color: rgb(46, 56, 56);
    text-align:center;
}
h4 {
    color: rgb(37, 43, 43);
    text-align:center;
}
p {
    color: black;
    text-align: center;
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
    animation-duration: 3s;
    animation-name: animation;
}
a{
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
div {
    text-align: center;
    text-decoration: none;
}

/*
@keyframes animation {
    from {
      margin-left: 100%;
    }
  
    to {
    margin-left: 15%;
    }
  }
  */
.centre{
    display: block;
    margin-left: 33%;
    margin-right: 33%;
}
.menu {
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.menu a{
    color: black;
    background-color: rgb(60, 60, 136);
}