h1 {
    color: rgb(66, 102, 102);
    text-align:center;
}
h2 {
    color: rgb(57, 80, 80);
    text-align:center;
}
h3 {
    color: rgb(46, 56, 56);
    text-align:center;
}
h4 {
    color: rgb(37, 43, 43);
    text-align:center;
}
p {
    color: black;
    text-align: justify;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
}
ul{
    display: block;
    margin-left: 500px;
    margin-right: 500px;
}
div {
    text-align: center;
}