html{
    background-color: lightgoldenrodyellow;
}
h1 {
    color: rgb(66, 102, 102);
    text-align:center;
}
h2 {
    color: rgb(57, 80, 80);
    text-align:center;
}
h3 {
    color: rgb(46, 56, 56);
    text-align:center;
}
h4 {
    color: rgb(37, 43, 43);
    text-align:center;
}
p {
    color: black;
    text-align: center;
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
a{
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
div {
    text-align: center;
    text-decoration: none;
}
article {
    animation-duration: 3s;
    animation-name: animation;
}

/*spécifique*/
@keyframes animation {
    from {
      margin-top: 100%;
    }
  
    to {
    margin-top: 0%;
    }
  }
.centre{
    display: block;
    margin-left: 33%;
    margin-right: 33%;
}
.menu {
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.menu li{
    font: bold 90% Arial;
    text-decoration: none; 
    background-color: #92c5ee; 
    color: black; 
    padding: 2% 6% 2% 6%; 
    border-top: 1px inset #333333; 
    border-right: 1px inset #333333; 
    border-bottom: 1px inset #333333; 
    border-left: 1px inset #333333;
    text-align: center;
    
}
a:visited
{
    color:black;
}
a:hover{ 
    color: white;
}
.mentionlegal{
    padding: 1% 1% 1% 1%; 
    border-top: 1px dashed #333333; 
    border-right: 1px dashed #333333; 
    border-bottom: 1px dashed #333333; 
    border-left: 1px dashed #333333;
}